.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}

.CodeMirror {
  font-size: 20px;
  line-height: 30px;
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.CodeMirror-scroll {
  height: auto;
  width: auto;
}
